<%= firstname %> <%= last_name %>
<form method = 'post' action = '/u_age'>
  Age: <input type="text" name="u_age"><br>
  <input type = "text" name = "firstname" value = "<%= firstname %>">
  <input type = "text" name = "last_name" value = "<%= last_name %>">
  <input type="submit" value="Submit">
</form>